*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Nunito', sans-serif;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;

}
.container{
    margin: 0 auto;
    width: 70%;
    padding-top: 1.5rem;
}
header>h1{
    text-align: center;
    color: #e43673;
    font-weight: bold;
}

img.card{
    float: left;
    width: 55px;
        
}
span{
    display: block;
    font-weight: bold;
}

.job, .name{
    color: white;
}
.email{
    color: #2f8fc5;
}

    
.card-box{
    margin-top: 3em;
    width: 37%;
}
.contacts{
    background-color: black;
}

