*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;

}
.container{
    margin: 0 auto;
    width: 80%;
    padding-top: 1.5rem;
}
header>h1{
    text-align: center;
    color: #e43673;
    font-weight: bold;
}

img.card{
    float: left;
    width: 24.5%;
        
}
span{
    font-weight: bold;
    display: block;
}

.job, .name{
    color: white;
}
.job{
    font-size: small;
}
.email{
    color: #2f8fc5;
    font-size: smaller;
}
 
.card-box{
    margin-top: 3em;
    width: 30%;
}
.contacts{
    background-color: #0f0e17;
    margin: 3px auto;
}

